body {
  margin:0;
  padding:0;
  padding-bottom: 50px;
}
@media (max-width: 800px){
  body {
    padding-bottom: 0;
  }
}

/******************************************************************************
header
******************************************************************************/
.pc-menu-list {
  position: fixed;
  z-index: 10000;
  list-style-type: none;
  left:0;
  bottom: 0;
  width:100%;
  margin:0 ;
  padding: 0;
  overflow: hidden;
  background-color: rgba(21, 41, 132, 0.75);
  text-align: center;
}
@media (max-width: 800px){
  .pc-menu-list{
    display: none;
  }
}
.pc-menu-list li {
  display: inline-block;
}
.pc-menu-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/******************************************************************************
m-menu
******************************************************************************/
.m-menu {
  position: fixed;
  top: 1vw;
  right: 1vw;
  width: 15vw;
  height: 15vw;
  z-index: 1000;
}
.navigation {
  width: 100%;
  display: block;
  margin: auto;
  height: auto;
  font-family: 'Lato', sans-serif;
  background-color: rgba(21, 41, 132, 0.75);
  position: fixed;
  top: 0;
  z-index: 5;
  display: none;
}
@media (min-width: 800px){
  .m-menu,
  .navigation {
    display: none;
  }
}
.m-menu-list{
  padding: 0;
}
.m-menu-list ul {
  list-style: none;
}
.m-menu-list li {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 3vw 0;
}
.m-menu-list a {
  font-size: 10vw;
  color: silver;
  text-decoration: none;
}
.m-menu-icon,
.m-menu-icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.m-menu-icon {
  position: relative;
  width: 15vw;
  height: 15vw;
}
.m-menu-icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.5vw;
  background-color: silver;
  border-radius: 4px;
}
.m-menu-icon span:nth-of-type(1) {
  top: 0;
}
.m-menu-icon span:nth-of-type(2) {
  top: 6.25vw;
}
.m-menu-icon span:nth-of-type(3) {
  bottom: 0;
}
.m-menu-icon.active span:nth-of-type(1) {
  transform: translateY(6.3vw) rotate(-315deg);
}
.m-menu-icon.active span:nth-of-type(2) {
  opacity: 0;
}
.m-menu-icon.active span:nth-of-type(3) {
  transform: translateY(-6.3vw) rotate(315deg);
}

/******************************************************************************
top
******************************************************************************/
.top{
  position: relative;
  width:100%;
  height:910px;
}
@media (max-width: 800px) {
  .top{
    height:144.4vw;
    width: 100%;
  }
}
.scene01{
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background-image: url("img/secen01.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
}
@media (max-width: 800px) {
  .scene01{
    background-size: cover;
  }
}
.logo {
  position: absolute;
  width: 326px;
  height: 165px;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 2;
  margin: auto;
  background-image: url("img/arad.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 800px){
  .logo {
    width: 70vw;
    height: 35vw;
    bottom:10vw;
  }
}
.top .btn-sound {
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -375px;
  width: 48px;
  height: 48px;
}
@media (max-width: 800px){
  .top .btn-sound{
    width: 10vw;
    height: 10vw;
    left:5vw;
    top:5vw;
    margin-left:0;
  }
}
.top .btn-sound a {
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("img/sound.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.top .btn-sound a.off {
  background-image: url("img/soundoff.jpg");
}

/******************************************************************************
story
******************************************************************************/
.story{
  position: relative;
  width:100%;
  margin:auto;
  height: 1150px;
}
@media (max-width: 800px){
  .story{
    height: 173.7vw;
  }
}
.story-header{
  position: relative;
  width: 770px;
  height: 150px;
  background-image: url("img/story-header.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin:auto;
}
@media (max-width: 800px){
  .story-header{
    width:100%;
    height:13.4vw;
    background-size: contain;
  }
}
.story-txt{
  position: relative;
  left: 0;
  right: 0;
  width:550px;
  height:900px;
  margin:auto;
  background-color: #d3ccb3;
}
@media (max-width: 800px){
  .story-txt{
    width:100%;
    height:100%;
  }
}
.story-img1 {
  background: url("img/txt_story01.png") ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width:100%;
  height:95px;
}
@media (max-width: 800px){
  .story-img1{
    background-size:contain;
    height:15.2vw;
  }
}
.story-img2 {
  background: url("img/txt_story02.jpg") ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width:100%;
  height:201px;
}
@media (max-width: 800px){
  .story-img2{
    background-size:contain;
    height:36.5vw;
  }
}
.story-img3 {
  background: url("img/txt_story03.jpg") ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width:100%;
  height:201px;
}
@media (max-width: 800px){
  .story-img3{
    background-size:contain;
    height:36vw;
  }
}
.story-img4 {
  background: url("img/txt_story04.jpg") ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width:100%;
  height:199px;
}
@media (max-width: 800px){
  .story-img4{
    background-size:contain;
    height:36.4vw;
  }
}
.story-img5 {
  background: url("img/txt_story05.jpg") ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width:100%;
  height:199px;
}
@media (max-width: 800px){
  .story-img5{
    background-size:contain;
    height:36.2vw;
  }
}
.bg-story{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bg-story.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

/******************************************************************************
character
******************************************************************************/
.character{
  position: relative;
  width:100%;
  height:750px;
  margin:auto;
}
@media (max-width: 800px){
  .character{
    height: 113.5vw;
  }
}
.character-header{
  position: relative;
  width: 770px;
  height: 150px;
  background-image: url("img/chara-header.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin:auto;
}
@media (max-width: 800px){
  .character-header{
    width:100%;
    height:13.4vw;
    background-size: contain;
  }
}
.bg-character{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bg-chara.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
.swiper-container {
  position: relative;
  z-index: 1;
  width: 635px;
  height: 460px;
}
@media (max-width: 800px){
  .swiper-container{
    width:100%;
    height:89.7vw;
  }
}
.swiper-slide{
  top:0;
  left: 50px;
}
@media (max-width: 800px){
  .swiper-slide{
    left:0;
  }
}
.swiper-slide.character01>div.img{
  position: absolute;
  width: 535px;
  height:201px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("img/chara01.jpg");
}
@media (max-width: 800px){
  .swiper-slide.character01>div.img{
    width: 100%;
    height:37.6vw;
  }
}
.chara-detail>div.label1{
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 201px;
  width: 535px;
  height: 33px;
  background-size: cover;
  background-image: url("img/label1.jpg");
}
@media (max-width: 800px){
  .chara-detail>div.label1{
    top:37.6vw;
    width: 100%;
    height:6.2vw;
  }
}
.swiper-slide.character02>div.img{
  position: absolute;
  width: 535px;
  height:201px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("img/chara02.jpg");
}
@media (max-width: 800px){
  .swiper-slide.character02>div.img{
    width: 100%;
    height:37.6vw;
  }
}
.chara-detail>div.label2{
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 201px;
  width: 535px;
  height: 33px;
  background-size: cover;
  background-image: url("img/label2.jpg");
}
@media (max-width: 800px){
  .chara-detail>div.label2{
    top:37.6vw;
    width: 100%;
    height:6.2vw;
  }
}
.chara-detail>div.chara-txt1{
  position: absolute;
  top: 234px;
  width: 535px;
  margin:0;
  height:100px;
  background-image: url("img/charatxt1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 800px){
  .chara-detail>div.chara-txt1{
    top:43.8vw;
    width: 100%;
    height:18.5vw;
  }
}
.chara-detail>div.chara-txt2{
  position: absolute;
  top: 234px;
  width: 535px;
  margin:0;
  height:100px;
  background-image: url("img/charatxt2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
@media (max-width: 800px){
  .chara-detail>div.chara-txt2{
    top:43.8vw;
    width: 100%;
    height:18.5vw;
  }
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}
.swiper-pagination-bullet {
  margin: 0 10px;
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  background-color: transparent;
  opacity: 0.5;
}
@media (max-width: 800px){
  .swiper-pagination-bullet{
    margin: 5vw 10vw;
    width: 20vw;
    height: 20vw;
  }
}
.page01 {
  background-image: url("img/page1.jpg");
}
.page02 {
  background-image: url("img/page2.jpg");
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
@media (max-width: 800px){
  .swiper-button-prev,
  .swiper-button-next{
    opacity: 0;
  }
}

/******************************************************************************
news
******************************************************************************/
.news{
  position: relative;
  width:100%;
  height:900px;
  margin:auto;
}
@media (max-width: 800px){
  .news{
    height:83.5vw;
  }
}
.bg-news{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bg-news.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
.news-header{
  position: relative;
  width: 700px;
  height: 200px;
  background-image: url("img/news-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin:auto;
  top:50px;
}
@media (max-width: 800px){
  .news-header{
    width: 100%;
    height:30.5vw;
    top:0;
  }
}
.btn-movie {
  position: relative;
  left: 50%;
  top: 100px;
  margin-left: -377px;
  width: 758px;
  height: 433px;
  background-image: url("img/news-movie.jpg");
  background-position: center;
  background-size: cover;
}
@media (max-width: 800px){
  .btn-movie{
    width: 100%;
    height:53vw;
    background-size: contain;
    top:0;
    left:0;
    margin-left: 0;
  }
}
.btn-movie a {
  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: -64px;
  width: 128px;
  height: 128px;
  background-image: url("img/movie.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-movie a::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/movie-rotate.png");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(0);
  animation: mvBtn 8s linear 0s infinite;
}
@media (max-width: 800px){
  .btn-movie a{
    top: 18vw;
    left: 50%;
    margin-left: -11vw;
    width: 22vw;
    height: 22vw;
  }
}
@keyframes mvBtn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10000;
}
.modal .youtube {
  display: none;
  position: relative;
  margin: auto;
  top:15vh;
  width: 820px;
  height: 460px;
}
@media (max-width: 800px){
  .modal .youtube {
    width: 90vw;
    height:45vw;
    top: 30vh;
  }
}
.modal .youtube .youtube-player {
  width: 100%;
  height: 100%;
}
.modal .btn-modal-close {
  position: absolute;
  left: 50%;
  right: auto;
  top: 5vh;
  margin-left: 350px;
  width: 50px;
  height: 50px;
}
@media (max-width: 800px){
  .modal .btn-modal-close{
    left: auto;
    margin-left: auto;
    width: 20vw;
    height:20vw;
    top:12.5vh;
    right:0;
  }
}
.icon,
.icon span{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.icon {
  position: relative;
  width: 100%;
  height: 100%;
}
.icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #fff;
  border-radius: 4px;
}
.icon span:nth-of-type(1) {
  top: 0;
  transform: translateY(22px) rotate(-45deg);
}
.icon span:nth-of-type(2) {
  bottom: 0;
  transform: translateY(-22px) rotate(45deg);
}
@media (max-width: 800px){
  .icon span:nth-of-type(1) {
    transform: translateY(9vw) rotate(-45deg);
  }
  .icon span:nth-of-type(2) {
    bottom: 0;
    transform: translateY(-9vw) rotate(45deg);
  }
}

/******************************************************************************
copyright
******************************************************************************/
.copy {
  width:100%;
  position: relative;
  background-color: black;
  text-align: center;
}

small {
  color:white;
}
